@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=Raleway&display=swap");
/* @import "pages/home";
@import "pages/registration";
@import "pages/activities";
@import "pages/contact";
@import "pages/error";
@import "pages/events";
@import "pages/history";
@import "pages/pastscouts";
@import "pages/pastscoutsform"; */
.patrol_page_cont .hero_img_cont {
  margin-top: 56px;
}
.patrol_page_cont .hero_img_cont .troop-img {
  width: 100%;
}
.leaders_wrapper {
  display: flex;
  justify-content: space-around;
}

.leader_wrapper h2 {
  font-size: 1.5em;
}
.leader_wrapper .leaders-img .main_leader_imgs {
  width: 100%;
  height: auto;
  max-width: 200px;
}
.leader_wrapper p {
  font-size: 1em;
}

#patrols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4em 0;
}
#patrols .patrol {
  width: 49%;
  border: solid 1px black;
}
#patrols .patrol h1 {
  margin: 0;
  font-size: 1.8em;
  letter-spacing: 0.5em;
  padding: 0.3em 0;
}
#patrols .patrol .patrol_wrapper {
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}
#patrols .patrol .patrol_wrapper .patrol_leader_cont {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#patrols .patrol .patrol_wrapper .patrol_leader_cont h2 {
  font-size: 1.5em;
}
#patrols .patrol .patrol_wrapper .patrol_leader_cont img {
  border-radius: 50%;
  width: 65%;
  height: auto;
}
#patrols .patrol .patrol_wrapper .patrol_leader_cont h3 {
  text-align: center;
  font-size: 1.1em;
}
#patrols .patrol .patrol_wrapper .patrol_names_cont {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
#patrols .patrol .patrol_wrapper .patrol_names_cont .logo_wrapper {
  width: 6em;
  height: 6em;
}
#patrols .patrol .patrol_wrapper .patrol_names_cont .logo_wrapper img {
  width: 100%;
}
#patrols .patrol .patrol_wrapper .patrol_names_cont ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 5em;
  line-height: 2em;
  columns: 2;
}
#patrols .patrol .patrol_wrapper .patrol_names_cont ul li {
  text-align: left;
}

body {
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

h2 {
  font-weight: bolder;
  margin: 20px;
  text-align: center;
}

p {
  text-align: justify;
}

img {
  /* border: 1px solid black; */
  max-width: 100%;
}

video {
  width: 50%;
  height: auto;
}

.navbar-brand {
  font-weight: bold;
  text-align: center;
  width: 28vw;
}

.nav-link {
  border-left: 1px solid grey;
  text-align: center;
  width: 18vw;
}

.container-fluid {
  margin: 0;
  padding: 20px 5% 20px 5%;
}

.cover {
  background-color: black;
  /* padding-top: 50px; */
  height: 100vh;
  text-align: center;
}

.cover-img {
  max-width: 100%;
}

.main {
  min-height: 90vh;
}

.img-title {
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px 5% 10px 5%;
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: scroll;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
}

footer p {
  font-size: 12px;
  font-style: italic;
}

footer img {
  border: none;
}

#copyright {
  text-align: right;
}

.social-link {
  filter: invert(100%);
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  video {
    width: 100%;
  }
  .nav-link {
    width: 100%;
  }
}

/*# sourceMappingURL=master.css.map */
