.events_page{
    h4 {
        font-weight: bold;
    }

    .main {
        padding-top: 100px;
    }

    .events .row {
        border-top: 1px solid black;
        padding-top: 20px;
    }

    .events .row:last-of-type {
        padding-bottom: 50px;
    }

    .event-date {
        font-size: 16px;
        font-style: italic;
    }

    .img {
        margin-bottom: 20px;
        text-align: center;
    }

    @media screen and (max-width: 991px) {
        .event-date {
            font-size: 12px;
        }
    }
}