.activities {
    color: white;
    height: 100vh;
    padding: 10%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.activities * {
    text-align: center;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.events {
    background-color: lightblue;
    padding: 50px 5% 50px 5%;
}

.event {
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
}

.events h4 {
    font-weight: bold;
}

.event-date {
    font-size: 16px;
    font-style: italic;
}

.month-calendar {
    padding-top: 20px;
    text-align: center;
}

.button a {
    padding: 10px 10% 10px 10%;
}

h6 {
    text-align: center;
}

.category {
    text-align: center;
}

.category>p {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.history * {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .activities {
        padding: 100px 5% 0 5%;
    }

    .events {
        padding-top: 20px;
    }

    .month-calendar {
        display: none;
    }

    .img {
        text-align: center;
    }

    .event-date {
        font-size: 12px;
    }
}