patrol_page_cont{
    .hero_img_cont{
        margin-top: 56px;

        .troop-img{
            width: 100%;
        }
        .img-title{

        }
    }
    
}

#patrols{
    .patrol{
        padding: 4em 0;
        h1{
            margin: 0;
            font-size: 3em;
        }
        .patrol_wrapper {
            display: flex;
            flex-direction: row;
        
            .patrol_leader_cont {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        
            .patrol_names_cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70%;
        
                h2 {
        
                }
        
                ul {
                    list-style-type: none;
                    padding: 0;
                }
            }
        }
        
    }
}

.intro {
    padding: 50px 5% 100px 5%;
}

.img {
    text-align: center;
}

.leaders {
    background-color: black;
    color: white;
}

.leaders * {
    text-align: center;
}

.leaders p {
    margin-top: 5px;
}

.seniors>p {
    text-align: center;
}

.pl-div {
    text-align: center;
}

.pl {
    margin-top: 10px;
    text-align: center;
}

.leader-img {
    border: none;
    border-radius: 5%;
    height: 150px;
}

ol {
    margin-top: 10px;
    list-style-type: none;
}

li {
    font-size: 14px;
    text-align: center;
}

.leader-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}



@media screen and (max-width: 991px) {
    .intro {
        padding-top: 20px;
    }
}