.intro {
    padding: 50px 5% 100px 5%;
}

.img {
    text-align: center;
}

.leaders {
    background-color: black;
    color: white;
}

.leaders * {
    text-align: center;
}

.leaders p {
    margin-top: 5px;
}

.seniors>p {
    text-align: center;
}

.patrol {
    margin: auto;
    vertical-align: top;
}

.pl-div {
    text-align: center;
}

.pl {
    margin-top: 10px;
    text-align: center;
}

.leader-img {
    border: none;
    border-radius: 5%;
    height: 150px;
}

ol {
    margin-top: 10px;
    list-style-type: none;
}

li {
    font-size: 14px;
    text-align: center;
}

.leader-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .intro {
        padding-top: 20px;
    }
}