patrol_page_cont{
    .hero_img_cont{
        margin-top: 56px;

        .troop-img{
            width: 100%;
        }
        .img-title{

        }
    }
    
}

#patrols{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 0;
    .patrol{
        width: 49%;
        border: solid 1px black;
        h1{
            margin: 0;
            font-size: 1.8em;
            letter-spacing: 0.5em;
            padding: 0.3em 0;
        }
        .patrol_wrapper {
            display: flex;
            flex-direction: row;
            padding: 2em 0;
        
            .patrol_leader_cont {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                h2{
                    font-size: 1.5em;
                }
                img{
                    border-radius: 50%;
                    width: 65%;
                    height: auto;
                }
                h3{
                    text-align: center;
                    font-size: 1.1em;
                }
            }
        
            .patrol_names_cont {
                display: flex;
                flex-direction: column;
                row-gap: 2em;
                align-items: center;
                width: 70%;
                justify-content: space-between;
        
                img {
                    width: 20%;
                }
        
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    column-gap: 5em;
                    line-height: 2em;
                    columns: 2;
                    li{
                        text-align: left;
                    }
                }
            }
        }
        
    }
}

.intro {
    padding: 50px 5% 100px 5%;
}

.img {
    text-align: center;
}

.leaders {
    background-color: black;
    color: white;
}

.leaders * {
    text-align: center;
}

.leaders p {
    margin-top: 5px;
}

.seniors>p {
    text-align: center;
}

.pl-div {
    text-align: center;
}

.pl {
    margin-top: 10px;
    text-align: center;
}

.leader-img {
    border: none;
    border-radius: 5%;
    height: 150px;
}

ol {
    margin-top: 10px;
    list-style-type: none;
}

li {
    font-size: 14px;
    text-align: center;
}

.leader-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    #patrols{
        flex-direction: column;
        align-items: center;
        .patrol{
            width: 100%;
        }
    }
}


@media screen and (max-width: 991px) {
    .intro {
        padding-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    #patrols{
        flex-direction: column;
        align-items: center;
        .patrol{
            .patrol_wrapper{
                .patrol_leader_cont{
                    h2{
                        font-size: 1em;
                    }
                    img{
                        height: 50%;
                    }
                }
                .patrol_names_cont{
                    ul{
                        column-gap: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #patrols{
        flex-direction: column;
        align-items: center;
        .patrol{
            .patrol_wrapper{
                flex-direction: column;
                align-items: center;
                .patrol_leader_cont{
                    h2{
                        font-size: 1em;
                    }
                    img{
                        height: 50%;
                    }
                }
                .patrol_names_cont{
                    ul{
                        column-gap: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #patrols{
        .patrol{
            .patrol_wrapper{
                
                .patrol_names_cont{
                    ul{
                        columns: auto;
                        li{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}