.intro {
    padding-top: 10%;
}

p {
    margin: auto;
    max-width: 1000px;
}

.form-wrapper {
    background-image: url("images/Jamboree2007_opening.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    max-width: 800px;
    padding: 2%;
}

.bn-form-legend {
    text-align: center;
}

//form styling

.bnet-form ::-webkit-input-placeholder {
    color:rgba(0,0,0,0.3)!important;
  }
  .bnet-form ::-moz-placeholder {
    color:rgba(0,0,0,0.3)!important;
  }
  .bnet-form :-ms-input-placeholder {
    color:rgba(0,0,0,0.3)!important;
  }
  .bnet-form :-moz-placeholder {
    color:rgba(0,0,0,0.3)!important;
  }
  .bn-form-legend, .bn-form-legend div {
        font-size:23px;
        font-family:Arial, Helvetica, sans-serif;
        color:#000000;
  }
  .bn-form-desc {
        font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#222222;
  }
  #the-form, .bnet-form, .form-wrapper, .bn-form-preview, .bn-thankyou-msg {
       background-color:#ffffff;
  }
  .bn-form-submit .formbtn {
       font-size:15px!important;
        font-family:Arial, Helvetica, sans-serif!important;
        color:#ffffff!important;
        border-radius:7px!important;
        background-color:#474747!important;
  }
  .bn-label {
      font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000!important;
  }
  .bn-thankyou-msg, .bn-form-preview {
     font-family:Arial, Helvetica, sans-serif;
      color:#000000;
  }
  .bn-response {
    color:#000000;
  }
  .bn-input input[type=text], .bn-input textarea {
      font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000;
      border-radius:5px;
      border-color:#c4c4c4;
      border-width:1px;
      background-color:#ffffff;
  }
  .bn-select {
      border-style:solid;display:inline-block;width:100%;overflow:hidden;box-sizing:borderbox;
      border-color:#c4c4c4;
      border-width:1px;
      background-color:#ffffff;
      border-radius:5px;
  }
  .bn-select select {
    box-sizing:borderbox;
      font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000;
      background-color:#ffffff;
      border:0;
  }
  .bn-input label.bn-radio, .bn-input label.bn-checkbox {
      font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000!important;
  }
  .bn-radio input, .bn-checkbox input {
      font-size:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000;
      border-radius:5px;
      border-color:#c4c4c4;
      border-width:1px;
      background-color:#ffffff;
      display: none;
  }
  label.bn-checkbox, label.bn-radio {
    position: relative;
    padding-left: 36px;
    line-height: 32px;
  }
  label.bn-checkbox span.bn-inner-label:before, label.bn-radio span.bn-inner-label:before,
  label.bn-checkbox span.bn-inner-label:after, label.bn-radio span.bn-inner-label:after {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 32px;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    top: 0px;
    left: 0px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .2s;
    color: #ccc;
    color:#cccccc;
    position: absolute;
  }
  label.bn-radio span.bn-inner-label:before {
    background: -moz-radial-gradient(center, ellipse cover,#ffffff 0px,#ffffff 9px,rgba(0,0,0,0) 14px,rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0px,#ffffff 9px,rgba(0,0,0,0) 14px,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, #ffffff 0px,#ffffff 9px,rgba(0,0,0,0) 14px,rgba(0,0,0,0) 100%);
  }
  label.bn-checkbox span.bn-inner-label:before {
    background: -moz-radial-gradient(left,rgba(255,255,255,0) 0px,rgba(255,255,255,0) 5px,#ffffff 5px,#ffffff 27px, rgba(0,0,0,0) 26px,rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(left, rgba(255,255,255,0) 0px,rgba(255,255,255,0) 5px,#ffffff 5px,#ffffff 27px, rgba(0,0,0,0) 26px,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0px,rgba(255,255,255,0) 5px,#ffffff 5px,#ffffff 27px, rgba(0,0,0,0) 26px,rgba(0,0,0,0) 100%);
    background-size: 28px 21px;
    background-repeat: no-repeat;
    background-position-y: 5px;
  }
  label.bn-checkbox span.bn-inner-label:before  {
    content: 'check_box_outline_blank';
  }
  label.bn-radio  span.bn-inner-label:before {
    content: 'radio_button_unchecked';
  }
  input[type=checkbox]:checked + span.bn-inner-label:before, input[type=radio]:checked + span.bn-inner-label:before {
    opacity: 0;
  }
  input[type=checkbox] + span.bn-inner-label:after {
    content: 'check_box';
    color:#2696f9;
    color:#2696f9;
  }

  input[type=radio] + span.bn-inner-label:after {
    content: 'radio_button_checked';
    color:#2696f9;
    color:#2696f9;
  }
  input[type=radio]:not(:checked) + span.bn-inner-label:after,
  input[type=checkbox]:not(:checked) + span.bn-inner-label:after {
    opacity: 0;
    transform: scale(.3);
  }

  input[type=radio]:checked + span.bn-inner-label:after,
  input[type=checkbox]:checked + span.bn-inner-label:after {
    opacity: 1;
    transform: scale(1);
  }
  .bn-date-input {
    position: relative;
  }
  .bn-date-input .bn-date-pick {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    right: 5px;
    top: 50%;
    margin-top: -13px;

  }
  .bn-date-input .bn-date-pick {
    color: #000;
    color:#c4c4c4;
    opacity: 0.75;
  }